<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--适配手机端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--解决ie问题，使用edge-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<!--
段落自动生成语句 ：
a[href="#chapter$"]*6>{课程$}
((h2[id="chapter$"]>{课程$})+p>lorem100)*6
-->
<a href="#chapter1">课程1</a>
<a href="#chapter2">课程2</a>
<a href="#chapter3">课程3</a>
<a href="#chapter4">课程4</a>
<a href="#chapter5">课程5</a>
<a href="#chapter6">课程6</a>

<h2 id="chapter1">课程1</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto consequatur cumque, doloribus error et
    explicabo facilis fuga fugiat ipsa ipsam iste libero magni mollitia neque nihil nisi odio officia optio perferendis
    placeat possimus, praesentium provident quia quibusdam quis recusandae repellendus similique sint tempora temporibus
    totam vero voluptas? Asperiores cupiditate distinctio ducimus mollitia, nulla officiis, perspiciatis quaerat
    repudiandae ullam velit vitae voluptate voluptatum! Assumenda cum, facilis fuga libero quas reiciendis rerum!
    Consectetur cumque doloremque impedit iusto modi molestias nulla perferendis, placeat possimus recusandae sit soluta
    vero voluptatibus. Architecto, atque dolore eligendi laudantium modi nihil quasi, quia repudiandae sit voluptate
    voluptatum.</p>
<h2 id="chapter2">课程2</h2>
<p>Ea eaque, fuga minima necessitatibus nemo obcaecati odio officiis, possimus quae quam repudiandae rerum suscipit!
    Accusamus blanditiis eos laboriosam natus possimus saepe soluta! Debitis dolore eius excepturi quidem, quo totam
    voluptatum? Aperiam architecto deserunt dolore eius fuga labore nemo odio officia omnis perspiciatis possimus
    praesentium recusandae repellat repudiandae tempore totam, velit? Aperiam at atque consequatur, dicta ducimus eaque
    earum eligendi, est, eum ex fugiat hic in laboriosam maxime mollitia nobis porro quae quam quasi quidem quis
    repellendus reprehenderit sequi tempora ullam vero voluptatem. Autem consequuntur culpa cumque delectus deleniti
    dignissimos doloremque expedita hic inventore natus quae quasi ut, veritatis vitae?</p>
<h2 id="chapter3">课程3</h2>
<p>Culpa eaque nam provident voluptatibus? Dolorem est et laudantium natus nihil nulla quae voluptatum? Ab accusantium
    alias dolorem doloremque ipsam molestias praesentium sit. Atque harum inventore neque. Ad aperiam asperiores atque
    autem beatae dignissimos earum est facere incidunt inventore iusto molestiae necessitatibus nobis nostrum qui
    recusandae suscipit temporibus unde ut, voluptates? Blanditiis corporis deserunt excepturi expedita molestiae
    nostrum quaerat quasi, sequi totam. Architecto facere iure necessitatibus porro quia quod sint! Deserunt minima nam
    porro repellat sunt veniam? Cumque eius esse id ipsam necessitatibus, sapiente tempore ullam! Eaque eligendi
    incidunt laboriosam mollitia nisi, porro quas reiciendis saepe sint veritatis, vero voluptatem.</p>
<h2 id="chapter4">课程4</h2>
<p>A architecto culpa cum cumque dicta dolorem doloribus, eius est expedita, fuga fugit illo magnam maiores minus
    molestias nisi nulla obcaecati placeat quaerat quasi rerum sunt, tempore voluptate? Adipisci assumenda blanditiis
    corporis delectus doloribus, ducimus error numquam qui suscipit unde. Aspernatur hic perferendis totam ullam
    voluptatibus. Ab aut explicabo maxime natus nobis. At autem consequatur cumque dignissimos eaque est fugiat harum
    laboriosam, laudantium magnam maxime nostrum omnis provident quia quibusdam quidem quo quod reiciendis rem, rerum
    soluta tempora voluptas voluptatum! Accusamus, ad, culpa dicta dignissimos dolorum eveniet facilis fugit inventore
    laboriosam libero minima nam quae quasi quod rerum ullam veniam.</p>
<h2 id="chapter5">课程5</h2>
<p>Accusamus ad aliquam at autem cumque distinctio doloremque doloribus ducimus earum eos esse et facere in ipsam labore
    libero minima minus mollitia nihil optio sint sit tempora ullam voluptas, voluptatem! Deserunt, excepturi fuga fugit
    illum inventore iste maiores praesentium sed tempora veniam. Asperiores cupiditate ex, excepturi explicabo facilis
    iure molestiae neque nihil numquam quidem quis quisquam quo ratione sed sunt temporibus voluptate. Aperiam culpa
    dicta, distinctio error excepturi hic id iure laudantium, numquam quasi quibusdam repudiandae voluptatibus!
    Accusantium alias aliquam animi consequatur consequuntur cumque debitis, deleniti distinctio doloribus ipsa
    necessitatibus nihil nulla, numquam praesentium quasi ratione reprehenderit rerum vero. Explicabo!</p>
<h2 id="chapter6">课程6</h2>
<p>Alias consequuntur deserunt dignissimos doloribus eos error fugiat iusto, magni minus molestiae necessitatibus omnis
    provident quidem quo ratione repellendus reprehenderit sit soluta tempore temporibus? Aliquam animi atque culpa
    ducimus enim laboriosam minus molestias nulla pariatur perferendis similique, vitae voluptatem. Accusamus amet
    aperiam dolore dolorem esse id ipsa necessitatibus officiis quibusdam, quo ratione repellendus. A architecto dolore,
    eligendi ipsam iure numquam odio! Assumenda atque aut beatae cupiditate dignissimos, eligendi esse excepturi magnam,
    neque qui, saepe sunt tenetur unde ut voluptas? Architecto debitis ea quis! Cupiditate exercitationem, fugiat.
    Dolores ducimus, eveniet! Dolorum harum illum impedit quasi voluptates. Amet architecto necessitatibus nesciunt
    voluptatum.</p>

<a href="#">回到顶部</a>
<a href="https://www.bilibili.com" target="_blank" title="哔哩哔哩，干杯">B站</a>

<!--无序列表-->
<ul>
    <li>富强、民主、文明、和谐</li>
    <li>自由、平等、公正、法治</li>
    <li>爱国、敬业、诚信、友善</li>
</ul>

<!--专业术语-->
<dl>
    <dt>python</dt>
    <dd>Python由荷兰数学和计算机科学研究学会的Guido van Rossum 于1990 年代初设计，作为一门叫做ABC语言的替代品。 [1]  Python提供了高效的高级数据结构，还能简单有效地面向对象编程。Python语法和动态类型，以及解释型语言的本质，使它成为多数平台上写脚本和快速开发应用的编程语言， [2]  随着版本的不断更新和语言新功能的添加，逐渐被用于独立的、大型项目的开发。</dd>
</dl>

</body>
</html>