<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网页结构设计</title>
    <link rel="stylesheet" href="../css/stracture.css">
</head>
<body>
<div class="page">
    <div class="top">
        <div class="left">
            网站名
        </div>
        <div class="middle">
            搜索框
        </div>
        <div class="right">
            功能框
        </div>
    </div>
    <div class="navigation">导航栏</div>
    <div class="body">中间</div>
    <div class="bottom">底部</div>
</div>
</body>
</html>