<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript"
            src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>
    <title>体系课程</title>
    <link rel="stylesheet" href="../css/system_course.css">
</head>
<body>
<div class="page">

    <div class="header">
        <div class="web-logo">
            <span class="icon">
                <image src="../../static/pic/logo/logo.png" class="logo"></image>
            </span>
            <a class="web-name" href="">学习是个圈</a>
        </div>
        <div class="search">
            <input class="input" type="text" placeholder="搜索课程名程">
            <a title="搜索">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <span class="icon index"></span>
                    <a>首页</a>
                </li>
                <li>
                    <span class="icon system-course"></span>
                    <a>体系课</a>
                </li>
                <li>
                    <span class="my-course"></span>
                    <a>课程</a>
                </li>
                <li>
                    <span class="my-system"></span>
                    <a>体系</a>
                </li>
                <li>
                    <span class="user-information"></span>
                    <a>我的</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="system-course">
        <div class="course-list">
            <ul>
                <li><a href="">Web前端（HTML5、CSS3、JS）</a></li>
                <li><a href="">ES6</a>
                <li><a href="">Ajax前后端数据交</a></li>
                <li><a href="">Web组件化开发</a></li>
                <li><a href="">Web移动端开发</a></li>
                <li><a href="">小程序开发入门</a></li>
                <li><a href="">Vue.js</a></li>
                <li><a href="">Sass</a></li>
                <li><a href="">koa2、Node</a></li>
                <li><a href="">TypeScript></a></li>
                <li><a href="">React.js</a></li>
                <li><a href="">git部署</a></li>
                <li><a href="">Gulp</a></li>
            </ul>
        </div>
        <div class="course-detail">
            <div class="course-body">
                <div class="evolution">
                    <span class="glyphicon glyphicon-share-alt"> 共45人转发</span>
                    <span class="glyphicon glyphicon-thumbs-up"> 点赞数：120</span>
                    <span class="glyphicon glyphicon-heart"> 共78人收藏</span>
                </div>
                <h2>Web前端（HTML5、CSS3、JS）</h2>
                <div class="introduction">
                    <h3>课程介绍：</h3>
                    <blockquote>
                        <p>在web前端中，HTML是结构标准，CSS是样式标准，JS是行为标准，三者缺一不可。 说的直白点， HTML 就是骨架， CSS 就是皮肤， JS 就是灵魂。
                            虽说三者的重要性很难分出高下，但在不同的领域里三者有不同的侧重，比如侧重结构布局时， HTML 独占优势，侧重样式表现时 CSS 功能强大，侧重逻辑与交互时，便离不开JavaScript。</p>
                    </blockquote>
                </div>
                <div class="link">
                    <h3>课程链接：</h3>
                    <a href="https://www.bilibili.com/video/BV1gK411P7RQ?from=search&seid=5179061651222413548&spm_id_from=333.337.0.0">Web前端视频教程（HTML/CSS/JavaScript/AJAX/jQuery）从入门到精通</a>
                    <h6>B站</h6>
                </div>
                <div>
                    <h3>课程综合评价：</h3>
                    <ul class="text">
                        <li>通俗易懂，简单入门</li>
                        <li>授课风趣幽默、思路清晰、口齿清晰</li>
                    </ul>
                </div>
                <div class="evolute">
                    <a><span class="glyphicon glyphicon-share-alt"> 转发</span></a>
                    <a><span class="glyphicon glyphicon-thumbs-up"> 点赞</span></a>
                    <a><span class="glyphicon glyphicon-heart-empty"> 收藏</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="my-study">
        <h4>我的完成情况</h4>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="min-width: 2em;">
                0%
            </div>
        </div>
    </div>

    <div class="course-recommended">
        <h4>课程推荐</h4>
        <div class="course-list">
            <ul>
                <li>
                    <a href="">
                        <image src="../../static/pic/course/Ajax.jpg" class="image"></image>
                    </a>
                </li>
                <li>
                    <a href="">
                        <image src="../../static/pic/course/Ajax.jpg" class="image"></image>
                    </a>
                </li>
                <li>
                    <a href="">
                        <image src="../../static/pic/course/Ajax.jpg" class="image"></image>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="job-recommended">
        <div>
            <h4>岗位推荐</h4>
            <div>
                <h5>前端工程师</h5>
                <h6>岗位描述</h6>
                <p>
                    1、负责PC及移动端产品的前端技术选型与模块设计；
                    2、负责对产品页面性能的优化和维护，持续提升用户体验；
                    3、改进和优化开发流程、工具和框架，搭建基础设施，提高开发效率；
                    4、长期技术目标指定、计划并帮助实施，提升整体FE技术水平；
                    5、Web前沿技术研究，跟踪新技术发展并运用到实际项目中。
                    6、有 node.js 开发经验优先。
                </p>
                <h6>任职要求</h6>
                <p>
                    1、精通React、 VUE、Typescript、Webpack、Nodejs 等方案和工具；
                    2、对浏览器机制有较深刻理解;
                    3、具备优秀的技术嗅觉、想象力、执行力和品格；
                    4、在前端技术社区具备一定的声望和影响力；
                    5、具备优秀的程序设计、架构和编码能力；
                    6、良好的产品意识，具备技术驱动能力
                </p>
                <h6>招聘单位</h6>
                <p>快手</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="more">
            <ul>
                <li>网站地图</li>
                <li>企业服务</li>
                <li>关于我们</li>
                <li>联系我们</li>
                <li>讲师招聘</li>
                <li>帮助中心</li>
                <li>意见反馈</li>
                <li>友情链接</li>
            </ul>
        </div>
        <div class="contact">
            <div>
                <a href="">
                    <image src="../../static/icon/收藏.png" class="icon"></image>
                </a>
                <hr class="iconname">收藏网站</hr>
            </div>
            <div>
                <a href="">
                    <image src="../../static/icon/微信-1.png" class="icon"></image>
                </a>
                <hr class="iconname">官方公众号</hr>
            </div>
            <div>
                <a href="">
                    <image src="../../static/icon/微博.png" class="icon"></image>
                </a>
                <hr class="iconname">官方微博</hr>
            </div>
            <div>
                <a href="">
                    <image src="../../static/icon/QQ-1.png" class="icon"></image>
                </a>
                <hr class="iconname">官方空间</hr>
            </div>
        </div>
    </div>

</div>
</body>
</html>